@import '../../styles/variables.scss';

.product {
    padding: 55px max(20px, (100vw - 1180px)/2);

    @media (max-width: $vp-1024) {
        padding-top: 30px;
    }
}

.text {
    margin: 0;
    font-weight: 700;
    font-size: 1.875em;
    margin-bottom: 55px;

    @media (max-width: $vp-1024) {
        margin-bottom: 30px;
    }
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 43px;
    justify-content: center;
}