@import '../../styles/variables.scss';

.faq {
    padding: 35px max(20px, (100vw - 1180px)/2) 123px;
    background: $color-dark-slate-blue;
    display: flex;
    flex-direction: column;
    color: $color-default-white;
}

.accordion {
    width: min(100%, 880px);
    margin: 0 auto;
    border-bottom: 1px solid $color-default-white;

    h2 {
        font-weight: 700;
        font-size: 1.875em;
        margin-bottom: 27px;
    }
}

.details {
    position: relative;
    cursor: pointer;
    border-top: 1px solid $color-default-white;
    padding: 30px 0 20px;

    button {
        border: none;
        width: 25px;
        height: 25px;
        display: block;
        color: $color-default-white;
        position: absolute;
        background: none;
        top: 24px;
        right: 4px;
        cursor: pointer;
        transition: opacity $trans-default;

        &:hover {
            opacity: 0.8
        }

        svg {
            transform: rotate(45deg);
            transition: transform $trans-default;
        }
    }
}

.title {
    font-size: 1.25em;
    font-weight: 400;
}

.content {
    margin: 0;
    font-weight: 600;
    opacity: 0;
    height: 0;
    will-change: margin, opacity, height;
    transition: margin $trans-ease-out, opacity $trans-ease-out, height $trans-ease-out;  
}

.detailsActive {
    @extend .details;
    .content {
        margin: 16px 0 20px;
        opacity: 1;
        height: 100%; 
    }

    button svg {
        transition: transform $trans-default;
        transform: rotate(90deg);
    }
}

