@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Jost";
    font-display: swap;
    src:    url("shared/assets/fonts/Jost-Regular.woff2") format("woff2"),
            url("shared/assets/fonts/Jost-Regular.woff") format("woff"),
           
  }
  
  @font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Jost";
    font-display: swap;
    src:   url('shared/assets/fonts/Jost-SemiBold.woff2') format("woff2"),
        url('shared/assets/fonts/Jost-SemiBold.woff') format("woff"),
  }
  
  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Jost";
    font-display: swap;
    src:
        url('shared/assets/fonts/Jost-Bold.woff2') format("woff2"),
        url("shared/assets/fonts/Jost-Bold.woff") format("woff"),
  }
  
 
  
  
  