@import '../../styles/variables.scss';

.preview {
    width: min(100%, 370px);
    
    a {
        display: block;
        position: relative;
        height: 293px;
        border-radius: 4px;
        margin-bottom: 11px;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-grey--25;
        opacity: 0;
        transition: opacity $trans-ease;
    }

    &:hover {
        opacity: 1;
       }
    }
    a:hover::before {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.info {
    margin-right: 10px;
    overflow: hidden;

    h3 {
        font-weight: 600;
        font-size: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        font-size: 1.125rem;
    }
}