@import '../../app/styles/variables.module.scss';

.cartItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    a {
        display: flex;
        margin-right: 10px;
        width: 100px;
        height: 57px;
    }

    h2 {
        font-weight: 600;
        font-size: inherit;
        cursor: pointer;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    p {
        font-size: 1.125rem;
        cursor: pointer;
    }

}