@import '../../app/styles/variables.module.scss';

.footer {
    padding: 18px max(20px, (100vw - 1180px)/2) 19px;
    background: $color-tuna;
    color: $color-default-white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
    justify-content: space-between;
    min-height: 80px;

    a:focus img {
        opacity: 0.8;
    }

    @media (hover: hover) {
        a:hover img {
            opacity: 0.8;
        }
    }
}