@import '../../app/styles/variables.module.scss';

.slider {
    width: min(100%, 520px);
}

.wrapper {
    margin-bottom: 13px
}

.list {
    width: min(100%, 520px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 79px;
}

.item {
    display: flex;
    width: 70px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;

    img {
        border-radius: 4px;
        width: 70px;
        height: 75px;
    }

    &:focus, 
    &:hover {
        outline: 3px solid $color-silver;
    }

    .itemActive {
        @extend .item;
        outline: 3px solid $color-silver;
    }
}