@import '../../index.scss';

.slider {
    width: min(100%, 520px);
}

.wrapper {
    margin-bottom: 20px
}

.list {
    width: min(100%, 520px);
    display: flex;
    min-height: 79px;
    // overflow: scroll;  
    // scrollbar-width: none;
}

.item {
    display: flex;
    width: 70px;
    height: 75px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:last-child {
        margin-right: 0;
    }

    img {
        border-radius: 4px;
        height: 75px;
    }

    &:focus, 
    &:hover img {
        border: 3px solid $color-silver;
    }
}