.notFound {
    padding: 100px max(20px, (100vw - 1180px)/2);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    h1 {
        font-weight: 700;
        font-size: 1.875em;
    }

    a {
        font-size: 1.5em;
    }
}